@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

:not(input):not(textarea):not(button),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

body {
  background: #2f2f2f;
  /*background: url(../images/128-23.png), linear-gradient(#212121, #212121);*/
}

html,
body {
    height: 100%;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    -o-transform: translate(0,50%);
    transform: translate(0,50%);
}

.close {
  font-size: 40px;
}

.modal-content {
  background: #121317;
}

.modal {
  right: 16.6666%;
}

h2, span {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.special {
    color: #f0f0f0;
}

.float-off {
  float: none;
}

.notif-bell {
  color : #333;
}

.notifs-on {
  background-color: white;
}

.special2 {
  color: #f0f0f0;
}

.btn-add {
  border-radius: 0%;
  height: 35px;
  padding: 6px 7px;
}

.input-friend {
  width: 70%;
}

.special2:hover {
  color: #f0f0f0;
}

.username-a {
  color: #f0f0f0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

h1 {
  color: #ccc;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.bottom-add {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
}

.noti-screen {
  background-color: #fff;
}

.not-title {
  font-size: 14px;
  background-color: #f0f0f0;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 10px 8px;
  border-bottom: 1px solid #e2e2e2;
}

.notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 8px 0px 8px 0px;
}

.drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}

.rollup {
  margin: 8px 0px 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.accept {
  border-top: 1px solid #b4b4b4;
  padding-top: 4px;
  text-align: right;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* applies to GIF and PNG images; avoids blurry edges */
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.form-control:focus, .form-control:focus + .fa {
  border-color: #009aed;
  color: #ccc;
}

.form-login {
  background-color: #18191e;
  border: 0 none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #ccc;
}

.version {
  font-size: 16px;
  color: #b6b4b4;
}

.logologin {
  font-size: 18px;
  padding-top: 3px;
  border-right: 1px solid;
}

.fontlogin {
  font-family: Oxygen;
}

.version2 {
  font-size: 13px;
  color: #6c6b6b;
}

.signinInitialStep__divider {
  text-align: center;
  color: #fff;
}

.signinInitialStep__divider:before {
    left: 0;
}

.signinInitialStep__divider:before, .signinInitialStep__divider:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #fff;
  content: " ";
  position: absolute;
  margin-top: 9px;
}

.signinInitialStep__divider:after {
    right: 0;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #196caf;
  border-bottom-color: transparent;
}

.nav-tabs>li>a {
    font-family: 'Oxygen', sans-serif;
      font-size: 16px;
    border-radius: 0px !important;
    border-bottom: 0px !important;
    background-color: #2196f3;
    color: #fff;
    transition: 0.3s all;
}

.nav-tabs>li>a:hover {
    background-color: #F9F9F9;
    color: #196caf;
    cursor: pointer;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border: 1px solid #196caf;
}

.name {
  font-family: "Oxygen", sans-serif;
  color: #196caf;
}

.status {
    font-family: "Oxygen", sans-serif;
  color: #afa8a8;
}

.friend-name {
  font-family: "Oxygen", sans-serif;
  color: #afa8a8;
  text-transform: capitalize;
}

.vertical-align {
  height: 50px;
  line-height: 50px;
}

.message-row {
  overflow: scroll;
}

.messages {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
}

.message-box {
  margin-left: 3px;
  margin-right: 3px;
  background-color: #121317;
  border: 1px solid #afa8a8;
}

.bottom-box-message {
  left: 0;
}

textarea {
  resize: none;
}

.size-avatar {
  width: 35px;
  height: 35px;
}

.rounded-notif {
  color: white;
  font-family: Arial;
  font-size: 10px;
  position: absolute;
  text-align: center;
  top: 4px;
  left: 14px;
  line-height: 17px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 0, 0, 1);
}

.espacement-mini {
  height: 10px;
}

.fav {
  font-size: 30px;
  float: right;
  top: -40px;
  color: grey;
}

.active-fav {
  color : #f33f3f;
}

.right-cross {
  padding: 0px 7px;
  position: absolute;
  right: 0;
  font-size: 12px;
  z-index: 9;
}

.top-box-message {
  overflow-y: scroll;
  height: 270px;
  top: 32px;
  background: rgba(0, 0, 0, 0.5);
}

.translate {
  transition: 0.2s all;
  top: 0px;
}

.actived {
  top: -308px;
}

.name-top {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgba(33, 150, 243, 0.45);
  position: relative;
  padding: 0px;
  top: 0;
  border: 1px solid black;
  line-height: 30px;
  cursor: pointer;
  text-transform: capitalize;
}

.msg-view {
  border-radius: 5px;
  background-color: #196caf;
  padding: 5px;
  color: white;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.myself {
  background-color: #fff;
  color: #333;
}


.message-input {
  border-radius: 0% !important;
  height: 35px !important;
  color: #333 !important;
  font-family: 'Raleway', sans-serif;
}

.fleche_droite {
    width: 0;
    height: 0;
    right: -10px;
    top: 18px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid  #afa8a8;
}

i {
  font-family: "Oxygen", sans-serif;
  color: #585858;
  float: right;
}

.green {
  color: green;
}

.news {
  border-bottom: 1px solid #afa8a8;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.friend {
  cursor: pointer;
}

.friend > * > * > *, .friend > * > * , .friend > * > * > * > span   {
  cursor: pointer;
}

.friend:hover {
  background-color: #000;
}

.news:hover {
  background-color: #000;
}

.rounded {
  border-radius: 50%;
  width: 70px;
  height: auto;
}
.rounded2 {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.white {
  color: #ccc;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 18px;
  color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.espacement {
  height: 20px;
}

.espacement2 {
  height: 250px;
}

.absolute {
  position: absolute;
}

.search-img {
  left: 25px;
  top: 10px;
  font-size: 18px;
  position: absolute;
}

.recent-rooms {
  font-size: 30px;
  color: #fff;
  font-family: "Oxygen", sans-serif;
}

.index-search {
  padding-left: 35px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  border: 0;
  background: #111317;
  -webkit-box-shadow: inset 0 0 0 1px #323742;
  -moz-box-shadow: inset 0 0 0 1px #323742;
  box-shadow: inset 0 0 0 1px #323742;
  font-size: 20px;
  width: 100%;
  color: #fff;
}

.right {
  background-color: #121317;
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  right: 0;
}

.log-btn {
  background: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
}

.log-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s all;
}

.color-button {
  height: 30px;
  width: 30px
}

.size-screen {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
	background: #ffffff;
	border:none;
	color:#000000;
	font:bold 12px Verdana;
	padding:6px 6px 6px 6px;
}

.title-bar {
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#ffffff;
	font:bold 13px Arial;
	color:#fff;
  font-size: 20px;
  color: #000000;
}

.back-homepage {
  right: 20px;
}

.label-inc {
  font-size: 18px;
  font-family:  sans-serif;
}



.valid-form {
  position: absolute;
  right: 5px;
  top: 35px;
  width: 20px;
}

.checkbox {
  height: 30px;
  width: 30px;
}

option, select {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

select:focus {
  color: black !important;
}

form > .row > div.ng-hide-add, form > .row > div.ng-hide-remove {
  transition: all 0.5s;
}

form > .row > div.ng-hide {
  opacity: 0;
}

.form_conn {
    border-width: 0 0 1px;
    border-style: none none solid;
    border-radius: 0;
    border-bottom-color: #fff;
    color: #fff;
    font-size: 16px;
    box-shadow: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    padding: 0px;
}

.form_conn:focus {
  box-shadow: none;
}

.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.top-room {
  top: 0%;
  height: 10%;
}

.padding {
  padding: 10px;
}

.selected:hover {
  background-color: rgba(255,255,255,0.3);
  transition: 0.2s all;
}

.bottom-room {
  height: 90%;
  overflow-y: scroll;
  bottom: 15px;
}

/*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 12px;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}*/

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.btn-homepage {
  background: #009aed;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 14px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.log-btn2 {
  background: #009aed;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 16px;
  height: 70px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.h100 {
  height: 100%;
}

.background-img {
  background: url("../images/background.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.login-form {
  top: 100px;
  position: relative;
}

.register > .form-group > .form-control {
  font-size: 13px;
}

.form-group > label {
  font-family: 'Raleway', sans-serif;
  color: #ccc;
}

.notRegister {
  float: right;
  cursor: pointer;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  font-size: 12px;
  color: #f00;
  float: left;
}

.bar-right {
  border-left: 1px solid #333;
}

.form-control.ng-invalid-required.ng-touched {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.form-style.ng-submitted > .form-group > .form-control.ng-invalid-required + .fa {
  -webkit-animation: wrong-log-fa 0.3s; /* Safari 4.0 - 8.0 */
  animation: wrong-log-fa 0.3s;
}

.form-style.ng-submitted > .form-group > .form-control.ng-invalid-required {
  position: relative;
  -webkit-animation: wrong-log 0.3s; /* Safari 4.0 - 8.0 */
  animation: wrong-log 0.3s;
}


.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.2s all;
  cursor: pointer;
  border-radius: 5px;
}

.content:hover {
  -webkit-box-shadow: 1px 1px 20px 10px #333333;
  -moz-box-shadow: 1px 1px 20px 10px #333333;
  box-shadow: 1px 1px 20px 10px #333333;
}


.fear {
  padding-top: 10px;
  display: block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 25px;
}

.profile {
  background-image: url("../images/homepage/user.svg");
  background-size : 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile:hover {
  animation-duration: 0.5s;
  animation-name: change-width;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.settings {
  background-image: url("../images/homepage/settings.png");
  background-size : 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  float: left;
}

.logout {
  background-image: url("../images/homepage/error.png");
  background-size : 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  float: left;
}

.logout:hover, .settings:hover {
  background-color: #333;
  border-radius: 50%;
}

.room {
  background-image: url("../images/homepage/plus.svg");
  background-size : 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.room:hover {
  animation-duration: 0.5s;
  animation-name: change-width;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.remove-an {
  animation-name: none !important;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    opacity: 0.3;
    transform: translateX(-50%) translateY(-50%);
}

.settings-top {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
  height: 40px;
  z-index: 2;
}

.abso-center {
  z-index: 2;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sk {
  font-size: 22px;
}

.center {
  text-align: center;
  margin: 0 auto;
}


.anim {
  transition: all 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all 0.5s;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.form_conn.ng-invalid-required.ng-touched {
  box-shadow: none;
}



@keyframes change-width {
  from {
    background-size: 70% 70%;
  }

  to {
    background-size: 65% 65%;
  }
}

@-moz-keyframes wrong-log-fa {
  0%, 100% {
    right: 15px;
  }
  20% , 60% {
    right: 20px;
  }
  40% , 80% {
    right: 10px;
  }
}
@-webkit-keyframes wrong-log-fa {
  0%, 100% {
    right: 15px;
  }
  20% , 60% {
    right: 20px;
  }
  40% , 80% {
    right: 10px;
  }
}
@keyframes wrong-log-fa {
  0%, 100% {
    right: 15px;
  }
  20% , 60% {
    right: 20px;
  }
  40% , 80% {
    right: 10px;
  }
}

@-moz-keyframes wrong-log {
  0%, 100% {
    right: 0px;
  }
  20% , 60% {
    right: 10px;
  }
  40% , 80% {
    right: -10px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    right: 0px;
  }
  20% , 60% {
    right: 10px;
  }
  40% , 80% {
    right: -10px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    right: 0px;
  }
  20% , 60% {
    right: 10px;
  }
  40% , 80% {
    right: -10px;
  }
}
