<div class="row h100">
  <div class="col-sm-9 h100 background-img">

  </div>
  <div class="col-sm-3 h100">
    <div class="row">
      <div class="login-form h100 col-sm-10 col-sm-push-1">
        <div class="row title">
          <div class="col-xs-8"><h1>Sign in</h1></div>
          <div class="col-xs-4">
            <img src="./images/logo.png" alt="" class="rounded">
          </div>
        </div>
        <div class="espacement"></div>
        <div class="form-group">
          <input type="text" class="form-control form-login" placeholder="Username" id="UserName" ng-model="username">
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group log-status">
          <input type="password" class="form-control form-login" placeholder="Password" id="Password" ng-model="password">
          <i class="fa fa-lock"></i>
        </div>
        <span class="alert">Invalid Credentials</span>
        <a class="link" href="#">Lost your password?</a>
        <button type="button" class="log-btn" ng-click="log()">
          {{status}}
          <img ng-hide="!wait" src="./images/default.svg" alt="waiting">
        </button>
        <div class="espacement"></div>
        <span class="white col-sm-12 text-center">{{error}}</span>
        <div class="espacement"></div>
        <div class="espacement"></div>
        <a class="notRegister" href="#!/register">Not registered ?</a>
      </div>
    </div>
  </div>
</div>
