<div>
  <div class="right col-md-3 col-sm-3 col-lg-2" ng-if="isAuthed() && !atlogin">
    <div class="row">
      <div class="espacement">

      </div>
      <div class="col-sm-4">
        <img src="images/new2.png" alt="title" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <div class="row">
          <span class="version">Naview </span>
          <br>
          <span class="version2">Alpha build {{version}}</span>
          <br>
          <span class="version2">{{user.username}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="espacement">

      </div>
      <div class="col-sm-12">
        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-click="swap(1);" ng-class="friendsActive"><a>Friends</a></li>
            <li role="presentation" ng-click="swap(2);" ng-class="newsActive"><a>News</a></li>
          </ul>
        </div>
        <div class="espacement">

        </div>
        <div class="row message-row" set-height ng-show="friends">
          <div class="col-sm-12 friend" ng-repeat="friend in friendlist track by $index">
            <div class="row vertical-align" ng-if="friend._id != user._id" ng-click="open(friend._id);">
              <div class="col-sm-3">
                <img src="images/users-logo/user.png" alt="avatar" class="size-avatar">
                <div class="rounded-notif" ng-if="roundedNotif[friend._id] === true" ng-init="renewValue[friend._id] = 1; numberNotif[friend._id] = 1">
                  {{numberNotif[friend._id]}}
                </div>
              </div>
              <div class="col-sm-6">
                  <span class="friend-name">{{friend.username}}</span>
              </div>
              <div class="col-sm-3">
                <div class="row" ng-if="friend.online">
                  <span class="green">Online</span>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <input placeholder="Add a friend..." ng-model="formData.username" ng-enter="addFriend()" class="form-control message-input input-friend" name="taname" />
            <div class="input-group-btn">
              <!-- Buttons -->
              <button type="button" class="btn btn-primary btn-add" aria-label="Left Align" ng-click="addFriend()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="espacement-mini">

          </div>
          <p class="white text-center">{{ messageFriendError }}</p>
        </div>

        <div class="row" ng-show="news">
          <div class="col-sm-12 news">
            <span class="name">Math83829</span>
            <span class="status"> join the room "NeverExpect".<i> 5 min ago</i></span>
          </div>
          <div class="col-sm-12 news">
            <span class="name">Math83829</span>
            <span class="status"> quit the room "Nicoflutolito".<i> 10 min ago</i></span>
          </div>
          <div class="col-sm-12 news">
            <span class="name">Helene-du-69-latrick</span>
            <span class="status"> send you a friend request. Click to accept the invitation<i> 45 min ago</i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-top">
        <div class="settings" ng-click="settings()">
        </div>
        <div class="logout" ng-click="logout()">
        </div>
    </div>
    <div class="messages col-md-9 col-sm-9 col-lg-10">
      <div class="col-md-3 col-lg-3 translate" ng-class="{'actived': message.active}" ng-repeat="message in messageList track by $index">
          <div class="name-top w100" ng-click="activeMessage($index)">
            {{message.username}}
            <span class="right-cross" ng-click="close($index); $event.stopPropagation()">x</span>
          </div>


        <div class="top-box-message w100" scroll-glue ng-if="message.active">
          <div class="espacement-mini">

          </div>
          <div class="w100" ng-repeat="msg in message.message" >
            <div class="msg-view col-sm-push-1 col-sm-7" ng-if="msg._id !== user._id">
              {{msg.text}}
            </div>
            <div class="col-sm-2 col-sm-push-1 white" ng-if="msg._id === user._id">
              {{msg.date | date : "HH:mm"}}
            </div>
            <div class="col-sm-2 col-sm-push-1 white" ng-if="msg._id !== user._id">
              {{msg.date | date : "HH:mm"}}
            </div>
            <div class="msg-view col-sm-push-3 col-sm-6 myself" ng-if="msg._id === user._id">
              {{msg.text}}
            </div>
            <div class="clearfix">

            </div>
            <div class="espacement-mini">

            </div>
          </div>
        </div>
        <div class="bottom-box-message w100" ng-if="message.active">
          <div class="col-sm-12">
            <div class="row">
              <textarea ng-model="messageToSend[message._id]" placeholder="Write a message..." ng-enter="sendMessage(message._id)" class="form-control message-input" name="taname" id="taid" cols="35" wrap="soft"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
