<div class="row">
  <div class="espacement2"></div>
  <div class="col-sm-4 parent">
    <div class="col-sm-1 enfant">
    </div>
    <div class="room-form col-sm-10 enfant">
      <button type="button" class="log-btn2" ng-click="log()">
        Join Room
        <img ng-hide="!wait" src="./images/default.svg" alt="waiting">
      </button>
    </div>
    <div class="col-sm-1 enfant">
    </div>
  </div>
  <div class="col-sm-4 parent">
    <div class="col-sm-1 enfant">
    </div>
    <div class="options-form col-sm-10 enfant">
      <button type="button" class="log-btn2" ng-click="log()">
        Avatar
        <img ng-hide="!wait" src="./images/default.svg" alt="waiting">
      </button>
    </div>
    <div class="col-sm-1 enfant">
    </div>
  </div>
  <div class="col-sm-4 parent">
    <div class="col-sm-1 enfant">
    </div>
    <div class="avartar-form col-sm-10 enfant">
      <button type="button" class="log-btn2" ng-click="log()">
        Optionss
        <img ng-hide="!wait" src="./images/default.svg" alt="waiting">
      </button>
    </div>
    <div class="col-sm-1 enfant">
    </div>
  </div>

</div>
