<video id="bgvid" playsinline autoplay muted loop>
  <source src="video/homepage.mp4" type="video/mp4">
</video>
<div class="abso-center">
  <div class="row h100">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <div class="row">
        <div ng-class="btsClass" class="anim">
          <div class="row text-center">
            <div class="square center" ng-click="hideContent(3)">
              <div class="content room" ng-class="noAnom">
              </div>
            </div>
            <span class="fear">Join room</span>
          </div>
        </div>
        <div class="col-sm-4 animate-if" ng-if="showProfile">
          <div class="row text-center">
            <div class="square center">
              <div class="content profile">
              </div>
            </div>
            <span class="fear">Profile</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!showProfile">
    <div class="col-sm-6 col-sm-push-2">
      <div class="espacement"></div>
      <div class="row">
        <div class="col-sm-4 animate-if" ng-if="!showChoice1">
          <button type="button" name="button" class="log-btn sk" ng-click="joinRoom()">SEARCH</button>
        </div>
        <div class="col-sm-4 animate-if" ng-if="!showChoice2">
          <button type="button" name="button" class="log-btn sk" ng-click="createRoom()">CREATE</button>
        </div>
        <div class="col-sm-4 animate-if" ng-if="!showChoice3">
          <button type="button" name="button" class="log-btn sk">FAVORITES</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row animate-if" ng-show="!showProfile">
    <div class="espacement"></div>
    <div class="col-sm-4 col-sm-push-3 text-center">
      <a type="button" class="text-center" ng-click="hideContent()">Homepage</a>
    </div>
  </div>
</div>
<div ng-include="'src/friendlist.html'">

</div>
