<div class="row">
  <div class="espacement"></div>
  <div class="back-homepage absolute">
    <button type="button" name="button" class="btn-homepage" ng-click="homepage()">Back to homepage</button>
  </div>
  <div class="col-sm-4 col-sm-push-4">
    <div class="row">
      <input type="text" class="index-search" placeholder="Search room" ng-model="results" uib-typeahead="room for room in getRoom($viewValue)" typeahead-loading="loadingLocations">
      <i class="fa fa-search search-img"></i>
    </div>
  </div>
</div>
