<div class="abso-center">
  <div class="row h100">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
      <div class="row text-center">
          REZISE
      </div>
    <div class="espacement"></div>
      <div class="row text-center">
          <div class="col-sm-4">
            <button class="test" ng-click="smallScreen()">Small Screen Size</button>
          </div>
          <div class="col-sm-4">
            <button class="test" ng-click="defaultScreen()">Default Screen Size</button>
          </div>
          <div class="col-sm-4">
            <button class="test" ng-click="largeScreen()">Large Screen Size</button>
          </div>
      </div>
      <div class="espacement"></div>
      <div class="espacement"></div>

      <div class="row text-center">
          COULEUR
      </div>
      <div class="espacement"></div>
      <div class="row text-center">
        <button class="test" ng-click="changeColor()">Color test</button>
      </div>

      <!-- ... -->
      <div class="espacement"></div>
      <div class="espacement"></div>

      <div class="row text-center">
          SORTIE AUDIO
      </div>
      <div class="espacement"></div>

      <!-- ... -->
      <div class="espacement"></div>
      <div class="espacement"></div>

      <div class="row text-center">
          SON
      </div>
      <div class="espacement"></div>

      <!-- ... -->
      <div class="espacement"></div>
      <div class="espacement"></div>

      <div class="text-center">
        <a type="button" class="text-center" href="#!/homepage">Back to homepage</a>
      </div>
    </div>
  </div>
</div>
